/* Main Content Layout */
.main-content {
  flex: 1;
  overflow-y: auto;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.top-bar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.add-note-button {
  margin-left: auto;
}

.main-content.dark-mode {
  background-color: #1a1a1a; /* Dark background color */
  color: #f0f0f0; /* Light text color */
}

.top-bar.dark-mode {
  background-color: #1a1a1a; /* Dark background color */
  color: #f0f0f0; /* Light text color */
}

.top-bar.dark-mode h2 {
  color: #f0f0f0; /* Light text color */
}
